<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.message.noticemanager.noticelib">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">


        <service android:name=".MessageNoticeService" android:label="Message Notice Service">
            <intent-filter>
                <action android:name="com.myapp.MyService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".StartMessageNoticeServiceAtBootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
