<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sampleclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TargetActivity"/>


        <service android:name=".MyService" android:label="My Service">
            <intent-filter>
                <action android:name="com.myapp.MyService" />
            </intent-filter>
        </service>

        <receiver
                android:name=".StartMyServiceAtBootReceiver"
                android:enabled="true"
                android:exported="true"
                android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <receiver
                android:name=".NewMessageReceiver"
                android:label="NewMessageReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="app.action.new_message" />
            </intent-filter>

        </receiver>

    </application>

</manifest>